$corPrincipal: #0D1114;
$cordeTextoPrincipal: rgb(255, 255, 255);
$cordeTextoSecundario: #ffffff;
$corBotoes: rgb(255, 255, 255);
$corFundo: rgba(255, 255, 255, 0);
$corBotaesDois:  rgb(255, 255, 255);